doctype html
head
title!= title
body
    div
        a(class={active: currentUrl === '/'} href='/') Home
    div
        a(class={active: currentUrl === '/execute'} href='/execute') Execute
    div
        a(class={active: currentUrl === '/information'} href='/information') Data Information


    div
        ul
            each detail, index in message
                li!=  (index + 1) + ': <br/>' + '[ Review Date ] : ' + detail.reviewDate + '<br/>' + '[ Level ] : ' + detail.level + '<br/>' + '[ Label ] : ' + detail.label + '<br/>' + '[ Description ] : ' + detail.description

